<!-- Dropdown Structure -->
<ul id="dropdown-parametros" class="dropdown-content">
  <li><a routerLink="parameters/listado-facultad">Facultades</a></li>
  <li><a routerLink="parameters/listado-departamento">Departamentos</a></li>
  <li><a routerLink="parameters/listado-vinculacion">Vinculaciónes</a></li>
  <li><a routerLink="parameters/listado-proponente">Proponentes</a></li>
  <li><a routerLink="parameters/listado-jurado">Jurados</a></li>
  <li><a routerLink="parameters/listado-areainvestigacion">Areas de investigación</a></li>
  <li><a routerLink="parameters/listado-modalidad">Modalidades</a></li>
  <li><a routerLink="parameters/listado-tiposolicitud">Tipos de solicitud</a></li>
  <li><a routerLink="parameters/listado-comite">Comites</a></li>
</ul>
<ul id="dropdown-solicitudes" class="dropdown-content">
  <li><a routerLink="solicitudes/listado-solicitud">Solicitudes</a></li>
  <li><a routerLink="solicitudes/listado-evaluacionsolicitud">Evaluaciones de solicitudes</a></li>
  <li><a routerLink="solicitudes/listado-resultadosolicitud">Resultados de solicitudes</a></li>
  <li><a routerLink="solicitudes/listado-recordatorio">Recordatorios</a></li>
  <li><a routerLink="solicitudes/listado-llamada">Llamadas</a></li>
</ul>

<nav>
  <div class="nav-wrapper grey darken-3">
    <a routerLink="/home" class="brand-logo">Inicio</a>
    <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    <ul class="right hide-on-med-and-down">
      <li *ngIf="activeSession"><a class="dropdown-trigger" href="#!" data-target="dropdown-parametros">Parametros<i class="material-icons right">arrow_drop_down</i></a></li>
      <li *ngIf="activeSession"><a class="dropdown-trigger" href="#!" data-target="dropdown-solicitudes">Solicitudes<i class="material-icons right">arrow_drop_down</i></a></li>
      <li *ngIf="!activeSession"><a routerLink="seguridad/login">Login</a></li>
      <li *ngIf="activeSession"><a routerLink="seguridad/logout">Logout</a></li>
    </ul>
  </div>
</nav>

<ul class="sidenav" id="mobile-demo">
  <li><a routerLink="parameters/listado-facultad">Facultades</a></li>
  <li><a routerLink="parameters/listado-departamento">Departamentos</a></li>
  <li><a routerLink="parameters/listado-vinculacion">Vinculaciónes</a></li>
  <li><a routerLink="parameters/listado-proponente">Proponentes</a></li>
  <li><a routerLink="parameters/listado-jurado">Jurados</a></li>
  <li><a routerLink="parameters/listado-areainvestigacion">Areas de investigación</a></li>
  <li><a routerLink="parameters/listado-modalidad">Modalidades</a></li>
  <li><a routerLink="parameters/listado-tiposolicitud">Tipos de solicitud</a></li>
  <li><a routerLink="parameters/listado-comite">Comites</a></li>
  <li><a routerLink="solicitudes/listado-solicitud">Solicitudes</a></li>
  <li><a routerLink="solicitudes/listado-evaluacionsolicitud">Evaluaciones de solicitudes</a></li>
  <li><a routerLink="solicitudes/listado-resultadosolicitud">Resultados de solicitudes</a></li>
  <li><a routerLink="solicitudes/listado-recordatorio">Recordatorios</a></li>
  <li><a routerLink="solicitudes/listado-llamada">Llamadas</a></li>
  <li><a routerLink="seguridad/login">Login</a></li>
  <li><a routerLink="seguridad/logout">Logout</a></li>
 
</ul>

